<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/create :: head">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="create">  <button  class="btn btn-primary">create product</button></a><a href="/"><input type="button" value="List Product" class="btn btn-secondary"></a>
        <a th:href="@{/sort/2}" name="a"  role="button">sortA</a>
        <a th:href="@{/sort/1}" name="d"  role="button">sortD</a>

        <form class="d-flex">
            <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<table class="table table-bordered">
    <tr>
        <td><h2>Id</h2></td>
        <td><h2>Productname</h2></td>
        <td><h2>Price</h2></td>
        <td><h2>Quantity</h2></td>
        <td><h2>Color</h2></td>
        <td><h2>Category</h2></td>
        <td><h2>Action</h2></td>
    </tr>
    <hr>
    <th:block th:each="pro:${products}">
        <tr>
            <td th:text="${pro.id}"></td>
            <td th:text="${pro.name}"></td>
            <td th:text="${pro.price}"></td>
            <td th:text="${pro.quantity}"></td>
            <td th:text="${pro.color}"></td>
            <td th:text="${pro.category.name}"></td>
            <td><a th:href="@{/edit/__${pro.id}__}"><input type="button" value="edit"></a></td>
            <td><a th:href="@{/delete/__${pro.id}__}"><input type="button" value="delete"></a></td>
        </tr>
    </th:block>
</table>
</body>
</html>